header {
  width: 100%;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 8%;
}

.header-menu {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.menu-desktop {
  display: flex;
  display: none;
  gap: 3rem;
}

.icon-header {
  display: flex;
  gap: 1rem;
}

.dark-mode-svg {
  width: 1.25rem;
  height: 1.25rem;
}

.menu-mobile {
  width: 1.25rem;
  height: 1.25rem;
  display: block;
}