.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.text-box-celebrate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.title-celebrate {
  font: var(--M-h2-font-size-font);
  color: var(--title-color);
}

.text-celebrate {
  width: 85%;
  font: var(--M-normal-font-size-font);
  color: var(--text-color);
}

.btn-celebrate {
  width: 13.8125rem;
  height: 3.875rem;
  font: var(--M-normal-font-size-font);
  font-weight: 400;
  background-color: var(--first-color);
  border-radius: 10rem;
  color: white;
}

.celebrate {
  width: 17.5rem;
  height: 17.5rem;
}
