.section5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.title-new-gift {
  font: var(--M-h2-font-size-font);
  color: var(--title-color);
}

@media screen and (min-width: 768px) {
  .title-new-gift {
    font: var(--D-h2-font-size-font);
  }
}