.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.title-giving {
  font: var(--M-h2-font-size-font);
  color: var(--title-color);
  text-align: center;
}

.giving-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2.5rem;
  column-gap: 2rem;
  justify-content: center;
  padding: 0 2rem;
}

.giving {
  width: 8rem;
  height: 10.8125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  text-align: center;
}

.giving img {
  width: 6.25rem;
  height: 6.25rem;
}

.sub-title-giving {
  font: var(--M-h3-font-size-font);
  color: var(--title-color);
}

.text-giving {
  font: var(--M-small-font-size-font);
  color: var(--text-color);
}